@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Futura";
	src: url("/fonts/Helvetica.otf") format("truetype");
	font-weight: thin;
	font-style: normal;
}

body {
	font-family: "Futura", Arial, sans-serif;
}

img {
	margin-bottom: 10px;
}

input,
textarea,
select {
	@apply border border-gray-500 rounded-sm p-2 focus:outline-none focus:border-black mb-1 w-full shadow-md text-black;
}

label {
	@apply text-black text-sm -mb-2;
}

button {
	@apply rounded-sm px-6 py-3 transition-all duration-500 delay-150 hover:opacity-80 hover:-translate-y-0.5;
}

button[type="submit"] {
	@apply bg-gray-600 text-white;
}

.link {
	@apply hover:text-black cursor-pointer hover:decoration-black decoration-transparent underline underline-offset-4 transition-all delay-150 duration-500;
}
